* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

header {
  background-color: #333;
  height: 5em;
  color: #fff;
  margin-bottom: 1em;
}

header h1 {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}
header h2 {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}

header .container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

section {
  margin: 2em 0;
  overflow: hidden;
}

section h2 {
  font-size: 3em;
  display: block;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5em;
}

table {
  width: 100%;
  margin-bottom: 0.5em;
  table-layout: fixed;
}

td,
th {
  padding: 0.7em;
  margin: 0;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #eee;
}

thead:first-child {
  border-radius: 5px;
}

label {
  color: #555;
  display: block;
  margin-bottom: 0.2em;
}

.form-adicionar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 20px;
}

.bto-principal {
  grid-column: span 2;
}

.grupo {
  width: 100%;
}

.campo {
  margin: 0;
  padding-bottom: 1em;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.9em;
}

.campo-medio {
  display: inline-block;
  padding-right: 0.5em;
}



.bto-principal {
  padding: 0.6em 2em;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  color: #fff;
  background-color: #0c8cd3;
  width: 100%;
  display: block;
  clear: both;
}

.bto-principal[disabled="disabled"],
.bto-principal:disabled {
  background-color: gray;
  border-color: darkgray;
}

.campo-invalido {
  border: 1px solid red;
}

.paciente-invalido {
  background-color: lightcoral;
  color: white;
  font-weight: bold;
}

#mensagens-erro {
  color: coral;
}

.fadeOut {
  opacity: 0;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .form-adicionar {
    display: flex;
    flex-direction: column;
  }

  .grupo {
    padding: 0 0 10px 0;
    width: 100%;
  }

  .bto-principal {
    width: 100%;
  }
}
